body {
    background-color: rgb(240, 255, 255);
    display: grid;
    grid-template-areas:
      "header header"
      "nav main"
    ;
    font-size: 18px;
  }

  ul {
    padding: 5px;

  }

  header {
    grid-area: header;
    border-style: 2px solid red;
    text-align: center;
  }

  nav {
    grid-area: nav;
    /* width: 200px; */
    /* position: fixed; */
    z-index: 1;
    top: 20px;
    left: 10px;
    /* background-color: #111; Black */
    /* background: #eee; */
    overflow-x: hidden;
    padding: 8px 0;
    /* border: 2px solid red; */
  }

  .sidenav li {
    padding: 10px;
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    margin: 0 0 3px 0;
    background-color: rgb(70, 70, 67);
    border-radius: 20px;

  }

  .car-info {
    /* background-color: rgb(67, 143, 180); */

  }

  .sidenav li:hover {
    color: #064579;
  }

  main {
    grid-area: main;
    /* border: 2px solid green; */
    padding: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav li {font-size: 18px;}
  } */
